.btn {
  display: inline-block;
  color: #2b2a2c;
  min-width: 170px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  border: 2px solid #6a696b;
  border-radius: 30px;
  background: none;
  line-height: 1.1;
  padding: 15px 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  background-image: -webkit-gradient(linear, left top, right top, from(#0095fe), color-stop(51%, #13ebc9), to(#0095fe));
  background-image: linear-gradient(to right, #0095fe 0%, #13ebc9 51%, #0095fe 100%);
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: right center;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  color: #fff;
}

.btn + .btn {
  margin-left: 15px;
}

.modal__btn--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .btn {
    width: 200px;
    margin: 0 auto;
  }
}
