.works__title {
  text-align: center;
  padding: 35px 0;
  color: #2b2a2c;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 992px) {
  .works__title {
    padding: 15px 0;
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .works__title {
    padding: 0;
    font-size: 15px;
  }
}
